@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import 'themes';

body {
  font-family: 'Nuno Sans', sans-serif;
  @include themed() {
    background: t(bg);
  }
}

* {
  box-sizing: border-box;
}
