@import 'variables';

$themes: (
  light: (
    bg: $very-light-grey,
    text: $very-dark-blue,
    input-text: $dark-grey,
    elements-bg: $white,
  ),
  dark: (
    bg: $very-dark-blue,
    text: $white,
    input-text: $white,
    elements-bg: $dark-blue,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
